body{background: #f5f5f5;}
/*主体盒子*/
.n-jayout{
	width:100%;
	max-width: 640px;/*设计图的原因 不让它放大*/
    min-width: 300px;/*为了更好的布局*/
    margin: 0 auto;
    position: relative;
    background: #DDD7D7;
 }
 /*头部搜索*/
 .n-header{
 	position: fixed;/*是以win最外成容器计算*/
 	left:0;
 	top:0;
 	width:100%;
 	margin: 0 auto;
 	max-width: 640px;/*设计图的原因 不让它放大*/
    min-width: 300px;/*为了更好的布局*/
 	height:50px;
    z-index: 1000;
 }
 .n-header > .n-header-box{
 	width:100%;
 	max-width: 640px;/*设计图的原因 不让它放大*/
    /*min-width: 300px;/*为了更好的布局*/*/
    margin: 0 auto;
    background:#C2C55A;
    height:50px;
    position: relative;
 }	
 /*搜索表单*/
 .n-header-box > form{
 	width:87%;
 	padding-left: 53px;
 	padding-right: 22px;
 }
 .n-header-box > form > input{
 	width:100%;
 	height:35px;
 	border-radius:17px;
 	margin-top: 8px;
 	padding-left:25px; 
 }
 
.n-header-box > .n-logo >img{
 	width:40px;
 	height:40px;
 	position: absolute;
 	top:6px;
 	left:8px;
 	border-radius: 20px;
 }
 .n-header-box .search{
 	width: 22px;
 	height:22px;
 	position:absolute;
 	top: 15px;
 	left:56px;
 }
 .n-header-box .n-zhuce{
 	position: absolute;
 	right: 5px;
 	top: 2px;
 	font-weight: bold;
 	color:#0A0B0A;
 	font-size: 17px;

 }	
 /*主体部分*/
 .n-main{
 	width: 100%;
 	max-width: 640px;/*设计图的原因 不让它放大*/
    min-width: 300px;/*为了更好的布局*/
    margin-top: 50px;
    
 }
/*.n-main>.lunbo{
	width: 100%;
	height: 300px;
}*/
.n-main-content{
	width: 100%;

	
}
.n-content-box{
	padding: 10px;
	border-radius: 10px;
	background: #FFF;
	margin-bottom: 5px;
	box-shadow: 1px 1px 1px #B3B2B2;
}
.n-main-content>h3{
	text-align: center;
	background:#83B42F; 
}
.n-content-box>.user{
	text-align: left;
	margin-top: 20px;
	font-size: 15px;
	color:#9B9595;

}
.n-content-box>.user img{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin-right: 5px;
}

.n-content-box>.content{
   margin-top: 15px;
}
.n-content-box>.time{
	text-align: right;
	margin-top: 15px;
	padding-bottom: 10px;
	font-size: 15px;
	color:#9B9595;
	
}
.n-nav .n-nav-i{
	margin-bottom: 11px;
}

 
/*向上置顶*/ 	 	 	
#btn{
	position: fixed;
	left:85%;
	bottom:66px;
	width:40px;
	z-index: 1100;
	border-radius: 20px;
	opacity: 0.7;
}
/*刷新*/
.shuaxin{
	position: fixed;
	left:85%;
	bottom:109px;
	width:43px;
	height: 43px;
	z-index: 1100;
	border-radius: 30px;
	opacity: 0.7;
}
footer p{
	line-height: 40px;
	height: 40px;
    text-align: center;
    background: #C2C55A;
}
    

 	
 	
 	
 