body{
	max-width: 640px;/*设计图的原因 不让它放大*/
    min-width: 300px;/*为了更好的布局*/
    margin: 0 auto;
    width: 100%;

}
header{
   height:50px;
   border-bottom: 1px solid #E7E3E3 ;

}
header a{
  font-size: 34px;
  margin-top: 10px;
  margin-left: 22px;
  margin-right: 66%;
}
main{
   padding: 10px;
   width: 100%;
   min-height: 620px;
}
main h3{
	text-align: center;
}
main img{
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
	margin-bottom: 20px;


}
footer{
	background: #79796E;
 	width:100%;
 	max-width: 640px;/*设计图的原因 不让它放大*/
    min-width: 300px;/*为了更好的布局*/
 	height:50px;
 	line-height: 50px;
 	color:#FFF;
 	text-align: center;
}	