/*主体*/

/*头部*/
header{
	background: url(../images/top.jpg) no-repeat;
	background-size: cover;
	height: 80px;
	border-bottom:6px double #5BB657;
}
header>h1{
	display: inline-block;
	color:#FFF;
	margin-left: 31px;
	margin-top:16px;
}
header>a{
	display: inline-block;
	float: right;
	width: 60px;
	text-align: center;
	color:#FFF;
	border-radius: 5px;
	margin-right: 25px;
	background: #83B42F;
	height: 30px;
	line-height: 30px;
	margin-top:21px;
}
/*搜索内容*/
main{
	padding: 20px;
	min-height: 510px;
	width: 100%;
}
main .n-content-box .user,.title{
	text-align: left;
	margin-top: 10px;
	font-size: 15px;
	color:#9B9595;

}
.n-content-box .content,.entry{
   margin-top: 15px;
}
.n-content-box .time,.meta{
	text-align: right;
	margin-top: 15px;
	padding-bottom: 10px;
	font-size: 15px;
	color:#9B9595;
	border-bottom: 1px solid #83B42F;
}
/*尾部*/
footer{
	background: #79796E;
 	width:100%;
 	max-width: 640px;/*设计图的原因 不让它放大*/
    min-width: 300px;/*为了更好的布局*/
 	height:50px;
 	line-height: 50px;
 	color:#FFF;
 	text-align: center;
}	
/*向上置顶*/
#btn{
	position: fixed;
	left:85%;
	bottom:66px;
	width:40px;
	z-index: 1100;
	border-radius: 20px;
	opacity: 0.7;
}
.n-content-box>.user img{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin-right: 5px;
}
/*长院简讯*/
.n-content-box .pic{
	width: 30%;
	margin-right: 30px;
	display: inline-block;
	margin-top: 15px;

}
.n-content-box .post{
	display: block;
	border-bottom: 1px solid #83B42F;

}
.n-content-box>a:active{
	background: #C3BCBC;
	opacity: 0.6;
}
.n-content-box .entry{
	width: 57%;
}

